* {
    margin: 20px ;
    padding: 0;
    text-align: center;
}

.img {
    position: relative;
}

button {
    border-radius: 50%;
    background-color: palevioletred;
}

#bo-suu-tap .img button {
    position: absolute;
    top: 100px;
    /* left: 100px; */
}